[submodule "cord"]
	path = cord
	url = ../cord
[submodule "olt-agent"]
	path = olt-agent
	url = ../olt-agent
[submodule "exampleservice"]
	path = exampleservice
	url = ../exampleservice
[submodule "fabric"]
	path = fabric
	url = ../fabric
[submodule "onos-service"]
	path = onos-service
	url = ../onos-service
[submodule "vrouter"]
	path = vrouter
	url = ../vrouter
[submodule "vsg"]
	path = vsg
	url = ../vsg
[submodule "vtr"]
	path = vtr
	url = ../vtr
[submodule "xos"]
	path = xos
	url = ../xos
[submodule "xos-external-app-examples"]
	path = xos-external-app-examples
	url = ../xos-external-app-examples
[submodule "cord-tester"]
	path = cord-tester
	url = ../cord-tester
