[submodule "cord"]
	path = cord
	url = ssh://ash@gerrit.opencord.org:29418/cord.git
[submodule "olt-agent"]
	path = olt-agent
	url = ssh://ash@gerrit.opencord.org:29418/olt-agent.git
[submodule "exampleservice"]
	path = exampleservice
	url = ssh://ash@gerrit.opencord.org:29418/exampleservice.git
[submodule "fabric"]
	path = fabric
	url = ssh://ash@gerrit.opencord.org:29418/fabric.git
[submodule "onos-service"]
	path = onos-service
	url = ssh://ash@gerrit.opencord.org:29418/onos-service.git
[submodule "vrouter"]
	path = vrouter
	url = ssh://ash@gerrit.opencord.org:29418/vrouter.git
[submodule "vsg"]
	path = vsg
	url = ssh://ash@gerrit.opencord.org:29418/vsg.git
[submodule "vtr"]
	path = vtr
	url = ssh://ash@gerrit.opencord.org:29418/vtr.git
[submodule "xos"]
	path = xos
	url = ssh://ash@gerrit.opencord.org:29418/xos.git
[submodule "xos-external-app-examples"]
	path = xos-external-app-examples
	url = ssh://ash@gerrit.opencord.org:29418/xos-external-app-examples.git
[submodule "cord-tester"]
	path = cord-tester
	url = ssh://ash@gerrit.opencord.org:29418/cord-tester.git
