[submodule "aaa"]
	path = aaa
	url = ssh://ash@gerrit.opencord.org:29418/aaa.git
[submodule "config"]
	path = config
	url = ssh://ash@gerrit.opencord.org:29418/config.git
[submodule "cord"]
	path = cord
	url = ssh://ash@gerrit.opencord.org:29418/cord.git
[submodule "cord-onos-publisher"]
	path = cord-onos-publisher
	url = ssh://ash@gerrit.opencord.org:29418/cord-onos-publisher.git
[submodule "igmp"]
	path = igmp
	url = ssh://ash@gerrit.opencord.org:29418/igmp.git
[submodule "maas"]
	path = maas
	url = ssh://ash@gerrit.opencord.org:29418/maas.git
[submodule "mcast"]
	path = mcast
	url = ssh://ash@gerrit.opencord.org:29418/mcast.git
[submodule "olt"]
	path = olt
	url = ssh://ash@gerrit.opencord.org:29418/olt.git
[submodule "olt-agent"]
	path = olt-agent
	url = ssh://ash@gerrit.opencord.org:29418/olt-agent.git
[submodule "vtn"]
	path = vtn
	url = ssh://ash@gerrit.opencord.org:29418/vtn.git
[submodule "exampleservice"]
	path = exampleservice
	url = ssh://ash@gerrit.opencord.org:29418/exampleservice.git
[submodule "fabric"]
	path = fabric
	url = ssh://ash@gerrit.opencord.org:29418/fabric.git
[submodule "onos-service"]
	path = onos-service
	url = ssh://ash@gerrit.opencord.org:29418/onos-service.git
[submodule "vrouter"]
	path = vrouter
	url = ssh://ash@gerrit.opencord.org:29418/vrouter.git
[submodule "vsg"]
	path = vsg
	url = ssh://ash@gerrit.opencord.org:29418/vsg.git
[submodule "vtr"]
	path = vtr
	url = ssh://ash@gerrit.opencord.org:29418/vtr.git
[submodule "xos"]
	path = xos
	url = ssh://ash@gerrit.opencord.org:29418/xos.git
[submodule "xos-external-app-examples"]
	path = xos-external-app-examples
	url = ssh://ash@gerrit.opencord.org:29418/xos-external-app-examples.git
[submodule "cord-tester"]
	path = cord-tester
	url = ssh://ash@gerrit.opencord.org:29418/cord-tester.git
